@import '../../styles/style-guide.scss';

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $category-card;
  max-width: 146px;
  min-height: 192px;
  cursor: pointer;
  transition: transform 150ms ease-in;

  &:hover {
    transform: scale(1.1);
  }

  @include responsive-layout($bp-tablet) {
    max-width: 209px;
  }
  @include responsive-layout($bp-desktop) {
    max-width: 160px;
  }

  &__image {
    width: fit-content;
    object-fit: contain;
    align-self: center;
  }

  &__text {
    padding: 8px 16px;
    text-align: center;
    color: $white;
    font-weight: 500;
    background: $black;
  }
}