// Primary
$black: #000000;
$white: #FFFFFF;
$gray: #CCCCCC;
$neon-yellow: #DAFF01;
$dark-purple: #9353FF;
$light-pink: #EE6471;
$orange: #F87F46;
$dark-gray: #343A40;
$light-gray: #CED4DA;

// header
$header-background: $black;
$hamburger-menu: $dark-gray;