// Primary
$black: #000000;
$white: #FFFFFF;
$gray: #CCCCCC;
$neon-yellow: #DAFF01;
$dark-purple: #9353FF;
$light-pink: #EE6471;
$orange: #F87F46;
$dark-gray: #343A40;
$light-gray: #CED4DA;

// header
$header-background: $black;
$hamburger-menu: $dark-gray;
$section-title: #212529; 
$card-text: #212529; 
$category-card: $neon-yellow;
$facility-background: $black;
$product-background: $white;
$button-background: $dark-purple;

// breakpoints
$bp-tablet: 740px;
$bp-desktop: 960px;

@mixin responsive-layout($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin hide-on-mobile {
  display: none;

  @include responsive-layout($bp-tablet) {
    display: initial;
  }
}

@mixin hide-on-desktop {
  @include responsive-layout($bp-tablet) {
    display: none;
  }
}